.thumbnail img {
    width: 100%;
    }

#main {
    height: 150px;
    }


.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}

#footer{bottom:0px;
position: absolute;    
width:100%;
text-align:center}

.jumbotron {
	/*background-image: url('/images/img5.jpg');*/
	height: 200px;
	width: auto;
	/*object-fit: cover;*/
	
}

.jumbotron h1{
    font-size: 3em;
}